@model IA.Models.Customer_Assingnd_NotAssigned_Projects
@{
    ViewBag.user = Model.CustomerData;
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_profile.cshtml";
    var count = 0;
    var count1 = 0;
}

<div class="col-md-7 order-2 order-md-1">

    @foreach (var project in Model.Assigned)
    {
        if (count == 0)
        {
            <h2>Assigned Projects</h2>
            count++;
        }
        <div class="property horizontal d-flex">
            <div class="prop-details p-3">
                <div><a href="#"><strong class="price">@project.pName</strong></a></div>
                <div class="">
                    <h3>Salary :<strong style="color: black">@project.pSalary</strong></h3>
                    <h3>Discription :<strong style="color: black">@project.pDescription</strong></h3>
                    <h3>Area :<strong style="color: black">@project.pArea</strong></h3>
                </div>
                <div>
                    @Html.ActionLink("Update", "Edit","Customer", new { id = project.Id }, new { @class = "btn btn-warning" })

                </div>
            </div>
        </div>
    }

    @foreach (var project in Model.NotAssigned)
    {
        if (count1 == 0)
        {
            <h2>Not Assigned Projects</h2>
            count1++;
        }
        <div class="property horizontal d-flex">
            <div class="prop-details p-3">
                <div><a href="#"><strong class="price">@project.pName</strong></a></div>
                <div class="">
                    <h3>Salary :<strong style="color: black">@project.pSalary</strong></h3>
                    <h3>Discription :<strong style="color: black">@project.pDescription</strong></h3>
                    <h3>Area :<strong style="color: black">@project.pArea</strong></h3>
                </div>
                <div>
                    @Html.ActionLink("Delete", "DeleteProject", "Customer", new { id = project.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Update", "Edit", "Customer", new { id = project.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Assigen To Project Manger", "AssignProjectManger", "Customer", null, new { @class = "btn btn-primary btn-sm" })
                </div>
            </div>
        </div>
    }
</div>

