@model IA.Models.user_req_team
@{
    ViewBag.user = Model.tl;
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_profile.cshtml";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="col-lg-8">
    <div class="row">
        <div id="piechart" style="width: 900px; height: 500px;margin:auto;" class="property horizontal d-flex"></div>
        <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart()
        {
            var Namearray = [];
            var years = [];
                @foreach (var item in ViewBag.Exp)
                {
                    @:Namearray.push("@item.E_Name");
                    @:years.push("@item.year");
                }
            var data = new google.visualization.DataTable();
            var options = {is3D: true,};
            data.addColumn('string', 'Experience');
            data.addColumn('number', 'number of years');
            var year;
            for (i = 0; i < Namearray.length; i++) {
                year = parseInt(years[i], 10)
                data.addRow([Namearray[i].toString(), year]);
            }
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </div>
    <div class="row">
        @*current and history columns*@
        <div class="col-sm" style="height:300px;overflow:auto">
            <h4 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Current Requests</h4>
            @for (int i = 0; i < Model.rtl.Count; i++)
            {
                <div class="row" style="margin-bottom:10px">
                    <div class="col-sm-4" style="margin:auto">
                        <label>Name: </label>
                        <label>
                            @Html.DisplayFor(model => model.pmName[i])
                        </label>
                    </div>
                    <div class="col-sm-4" style="margin:auto">
                        <label>Project: </label>
                        <label>
                            @Html.DisplayFor(model => model.proName[i])
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-success">@Html.ActionLink("Accept", "Accept", "TeamLeader", new { id = Model.rtl[i].Id }, null)</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger">@Html.ActionLink("Reject", "Reject", "TeamLeader", new { id = Model.rtl[i].Id }, null)</button>
                    </div>
                </div>
            }
        </div>
        @*<div class="col-sm-4">
            <h4 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Projects</h4>
            <div class="row" style="text-align:center;">
                <div class="col">
                    <h6 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Current</h6>
                    @foreach (var item in Model.curPro)
            {
                        <label>@item.pName</label>
                        <button class="btn btn-danger">@Html.ActionLink("X", "Reject", "TeamLeader", new { id = item.Id }, null)</button>
                    }
                </div>
                <div class="col">
                    <h6 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Delivered</h6>
                    @foreach (var item in Model.hisPro)
            {
                        <p>@item</p>
                    }
                </div>
            </div>
        </div>*@
    </div>
    <div class="row">
        <div class="col-sm">
            <h4 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Projects</h4>
            <div class="row" style="text-align:center;">
                <div class="col">
                    <h6 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Current</h6>
                    @foreach (var item in Model.curPro)
                    {
                        <p>
                            <label>@item.pName</label>
                            <button class="btn btn-danger">@Html.ActionLink("X", "Delete", "TeamLeader", new { id = item.Id }, null)</button>
                        </p>
                    }
                </div>
                <div class="col">
                    <h6 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Delivered</h6>
                    @foreach (var item in Model.hisPro)
                    {
                        <p>@item</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>