@model IA.Models.user_req_team
@{
    ViewBag.Title = "teamLeader";
    ViewBag.user = Model.tl;
    Layout = "~/Views/Shared/_AdminProfile.cshtml";
}

<style>
.rate {
    /*float: left;*/
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="row">
    <div id="piechart" style="width: 900px; height: 500px;margin:auto;" class="property horizontal d-flex"></div>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart()
        {
            var Namearray = [];
            var years = [];
                @foreach (var item in ViewBag.Exp)
                {
                    @:Namearray.push("@item.E_Name");
                    @:years.push("@item.year");
                }
            var data = new google.visualization.DataTable();
            var options = {is3D: true,};
            data.addColumn('string', 'Experience');
            data.addColumn('number', 'number of years');
            var year;
            for (i = 0; i < Namearray.length; i++) {
                year = parseInt(years[i], 10)
                data.addRow([Namearray[i].toString(), year]);
            }
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</div>
<div class="row">@*current and history columns*@
    <div class="col-sm-8" style="height:300px;overflow:auto">
        <h4 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Current Requests</h4>
        @for (int i = 0; i < Model.rtl.Count; i++)
        {
            <div class="row" style="margin-bottom:10px">
                <div class="col-sm-4" style="margin:auto">
                    <label>Name: </label>
                    <label>
                        @Html.DisplayFor(model => model.pmName[i])
                    </label>
                </div>
                <div class="col-sm-4" style="margin:auto">
                    <label>Project: </label>
                    <label>
                        @Html.DisplayFor(model => model.proName[i])
                    </label>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success">@Html.ActionLink("Accept", "Accept", "TeamLeader", new { id = Model.rtl[i].Id }, null)</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-danger">@Html.ActionLink("Reject", "Reject", "TeamLeader", new { id = Model.rtl[i].Id }, null)</button>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-4">
        <h4 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Projects</h4>
        <div class="row" style="text-align:center;">
            <div class="col">
                <h6 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Current</h6>
                @foreach (var item in Model.curPro)
                {
                    <label>@item.pName</label>
                    <button class="btn btn-danger">@Html.ActionLink("X", "Delete", "TeamLeader", new { id = item.Id }, null)</button>
                }
            </div>
            <div class="col">
                <h6 style="text-align:center;font-weight:bold;border-bottom:solid 3px black;">Delivered</h6>
                @foreach (var item in Model.hisPro)
                {
                    <p>@item</p>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
            <h4 style="text-align:center;margin-bottom:30px">Send Jounior Engineer Request</h4>
            @using (Html.BeginForm("ReqJE", "TeamLeader", FormMethod.Post, new { role = "form" }))
            {
                <div class="row">
                    <div class="col-sm-4">
                        <select class="form-control" name="proId" required style="margin-bottom:10px">
                            <option value="" selected disabled>choose project</option>
                            @foreach (var item in Model.curPro)
                            {
                                <option value="@item.Id">@item.pName</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" name="jeId" required>
                            <option value="" selected disabled>choose JE</option>
                            @foreach (var item in Model.je)
                            {
                                <option value="@item.Id">@item.firstName</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" id="submit" value="Send Request" style="margin:auto">
                    </div>
                </div>
            }
    </div>
    <div class="col-sm-4">
        <h4 style="text-align:center;margin-bottom:30px">Delete Jounior Engineer</h4>
        @using (Html.BeginForm("DelJE", "TeamLeader", FormMethod.Post, new { role = "form" }))
            {
                <select class="form-control" name="proId" required style="margin-bottom:10px">
                    <option value="" selected disabled>choose project</option>
                    @foreach (var item in Model.curPro)
                    {
                        <option value="@item.Id">@item.pName</option>
                    }
                </select>
                <select class="form-control" name="jeId" required>
                    <option value="" selected disabled>choose JE</option>
                    @foreach (var item in Model.jepro)
                    {
                        <option value="@item.Id">@item.firstName</option>
                    }
                </select>
                <input type="submit" id="submit" value="Delete">
            }
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4 style="margin-bottom:30px">Evaluate and Feedback Jounior Engineer</h4>
        @using (Html.BeginForm("feedback", "teamLeader", FormMethod.Post, new { @class = "form-group", role = "form" }))
        {
                <div class="row">
                    <div class="col-sm-7 form-group">
                        <select class="form-control" name="jeId" required>
                            <option value="" selected disabled>choose JE</option>
                            @foreach (var item in Model.je)
                            {
                                <option value="@item.Id">@item.firstName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 form-group">
                        <select class="form-control" name="proId" required style="margin-bottom:10px">
                            <option value="" selected disabled>choose project</option>
                            @foreach (var item in Model.curPro)
                            {
                                <option value="@item.Id">@item.pName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                    </div>
                    <div class="col-sm-7"></div>
                </div>
                <div class="row">
                    <div class="col-sm-7 form-group">
                        <input type="text" class="form-control" name="feedback" id="formGroupExampleInput" placeholder="Feedback">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3 form-group">
                        <input type="submit" id="submit" value="Send Feedback" style="margin:auto">
                    </div>
                </div>
        }
    </div>
</div>

