
@{Html.RenderPartial("Head");}


        <div class="site-section" id="property-details">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 class="text-black mb-4">Contact Agent</h3>
                                <img src="../../@ViewBag.user.photo" alt="Image" class="w-25 mb-3 rounded-circle">
                                <h4 class="text-black">@ViewBag.user.firstName</h4>
                                <p class="text-muted mb-4">Real Estate Agent</p>
                                <p><a href="#" class="btn btn-primary btn-sm">Contact Agent</a></p>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 style="font-weight: bold;">Email</h5>
                                        <label>@ViewBag.user.email</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 style="font-weight: bold;">Address</h5>
                                        <label>@ViewBag.user.address</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 style="font-weight: bold;">Phone</h5>
                                        <label>@ViewBag.user.phone</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 style="font-weight: bold;">Job Description</h5>
                                        <label>@ViewBag.user.jobDescription</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 style="font-weight: bold;">Qualification</h5>
                                        <label>@ViewBag.user.qualification</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 style="font-weight: bold;">Experience</h5>
                                        <label>@ViewBag.user.experience</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @RenderBody()
                       
                    </div>
                </div>
                @*<div class="row mt-4">
                    <div class="col-md-9 ml-auto">
                        <div class="custom-pagination text-center">
                            <span>1</span>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span class="more-page">...</span>
                            <a href="#">7</a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>



        
@{Html.RenderPartial("Footer");}

