@model IA.Models.projects

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Home.cshtml";
}


<section class="site-section bg-light bg-image" id="contact-section">
    <div class="container">
        <!--
        <div class="row mb-5">
            <div class="col-12 text-center">

                <h2 class="section-title mb-3">Contct Us</h2>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-md-5 mb-5">
                @using (Html.BeginForm("SaveProject", "Customer"))
                {
                    <h2 class="h4 text-black mb-5">Create Project</h2>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="fname">Project Name</label>
                            @Html.TextBoxFor(p => p.pName, new { @class = "form-control", @placeholder = "Enter Project Name", @required = "required", @type = "text" })
                            @Html.ValidationMessageFor(p => p.pName)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="subject">Description</label>
                            @Html.TextAreaFor(p => p.pDescription, new { @class = "form-control", @placeholder = "Enter Project Description", @required = "required", @type = "text" })
                            @Html.ValidationMessageFor(p => p.pDescription)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">Area</label>
                            @Html.TextBoxFor(p => p.pArea, new { @class = "form-control",@placeholder = "Enter Project Area", @required = "required",@type = "text"})
                            @Html.ValidationMessageFor(p => p.pArea)                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">Salary</label>
                            @Html.TextBoxFor(p => p.pSalary, new { @class = "form-control", @placeholder = "Enter Project Area", @required = "required", @type = "number" })
                            @Html.ValidationMessageFor(p => p.pSalary)
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            @Html.HiddenFor(p => p.Id)
                            <button type ="submit" class="btn btn-primary btn-md text-white"> Save </button>
                        </div>
                    </div>

                }
            </div>
            <div class="col-md-7">
                <div class="p-4 mb-3 bg-white">
                    <p class="mb-0 font-weight-bold">All Current Not assigned projects</p>

                </div>
            </div>
        </div>
    </div>
</section>

