
@model IA.Models.projects
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.pName</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.pName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <h4> Progress </h4>
            <div class="col-md-10">
                <select name="statue" id="q_rate" class="form-control">
                    <option value="2">In-Progress</option>
                    <option value="3">Deliveried</option>
                </select>
                @Html.ValidationMessageFor(model => model.pStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <h4>Project Price</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.pSalary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pSalary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.pDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.pArea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pArea, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pArea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.pmId, "pmId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("pmId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pmId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.customerId, "customerId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("customerId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.customerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Project Team</h4>
            <div class="col-md-10">
                @Html.DropDownList("pTeam", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pTeam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

